<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Local File Sharing{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- GitHub Corner with Logo -->
    <div class="github-corner server-info">
        <a href="https://github.com/Esmaeili01" target="_blank" rel="noopener noreferrer" class="no-decoration flex-center">
            <img src="static/logos/GitHub_Invertocat_Black.png" width="25">
            <span class="server-ip-label "> Amin Esmaeili</span>
        </a>
    </div>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>